[Desktop Entry]
Type=Application
Exec=/opt/rijanos-assistant/rijanos-assistant-root.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=RijanOS Assistant
Comment=Start RijanOS Assistant on login
Icon=/opt/rijanos-assistant/assets/logo.png
Categories=System;Utility;
Keywords=assistant;system;management;rijanos;
StartupNotify=true
